.blog-entry {
  margin-bottom: 2rem;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  &:last-of-type { margin-bottom: 0; }
}

.blog-text {
  a {
    color: $black;
    display: block;
    margin-top: 2rem;

    @include tablet { margin-top: 0; }
  }

  h4 {
    line-height: 1.4;
    margin: 0;

    &::after {
      content: '';
      display: block;
      width: 15rem;
      height: .5rem;
      background-color: $green;
      margin-top: 1rem;
    }
  }
}

.meta-info {
  span { color: $orange; }
}
