.btnCreate-up {
  margin-bottom: 2.5rem;
}

.btnCreate-down {
  display: flex;
  justify-content: center;

  @include tablet {
    display: flex;
    justify-content: end;
  }

  input {
    display: block;
    min-width: 90%;
    @include tablet {
      display: inline-block;
      min-width: auto;
    }
  }

}

.currency-price {
  @include tablet {
    display: flex;

    .currency-section {
      flex: 2;
      margin-right: 1rem;
    }

    .price-section { flex: 4; }
  }
}

.location-section {
  @include tablet {
    display: flex;

    .location-province {
      flex: 1;
      margin-right: 1rem;
    }

    .location-canton { flex: 1; }
  }
}
