.btn-greenBlock { @include button($green, block); }

.btn-orangeBlock { @include button($orange, block); }

.btn-redBlock { @include button($red, block); }

.btn-greenInline { @include button($green, inline-block); }

.btn-orangeInline { @include button($orange, inline-block); }

// Button Dark Mode
.btn-darkmode {
  width: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  filter: invert(100%);

  &:hover { cursor: pointer; }

  @include tablet { margin-top: 0; }
}
