.no-webp .home {
  position: relative;
  animation-name: slideNoWebp;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  nav, h1, a, .header-mobile-menu {
    z-index: 1;
  }
}

.no-webp .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

@keyframes slideNoWebp {
  0% {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
  }

  25% {
    background-image: url(../img/destacada.jpg);
    background-size: cover;
    background-position: center;
  }

  50% {
    background-image: url(../img/destacada2.jpg);
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: url(../img/destacada3.jpg);
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
  }
}

.webp .home {
  position: relative;
  animation-name: slideWebp;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  nav, h1, a, .header-mobile-menu {
    z-index: 1;
  }
}

.webp .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

@keyframes slideWebp {
  0% {
    background-image: url(../img/header.webp);
    background-size: cover;
    background-position: center;
  }

  25% {
    background-image: url(../img/destacada.webp);
    background-size: cover;
    background-position: center;
  }

  50% {
    background-image: url(../img/destacada2.webp);
    background-size: cover;
    background-position: center;
  }
  75% {
    background-image: url(../img/destacada3.webp);
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url(../img/header.webp);
    background-size: cover;
    background-position: center;
  }
}

.header {
  background-color: $ticoBlue;
  padding: 1rem 0 3rem 0;

  &.home {
    background-position: center center;
    background-size: cover;

    @include tablet { min-height: 60rem; }

    .header-content {
      @include tablet { min-height: 60rem; }
    }
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: $white;
    font-weight: $bold;
    line-height: 2;
    text-align: left;
  }

  img { max-width: 30rem; }

}
