.no-webp .home-contact { background-image: url(../img/encuentra.jpg); }

.webp .home-contact { background-image: url(../img/encuentra.webp); }

.home-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center center;
  padding: calc($gap * 2) 0;

  h2, p { color: $white; }

  h2 {
    font-size: 4rem;
    font-weight: $bolder;
  }

  p { font-size: 1.8rem; }
}
