.header-topbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s ease-in-out, opacity .5s linear, height .5s linear;
  height: 0;

  @include tablet {
    display: flex;
    align-items: center;
    opacity: 1;
    visibility: visible;
  }

  a {
    color: $white;
    display: block;
    font-size: 2.2rem;
    text-align: center;

    @include tablet {
      font-size: 1.8rem;
      margin-right: 2rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.header-mobile-menu {
  @include tablet { display: none; }

  img { width: 5rem; }
}

.header-show-navigation {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.header-darkmode {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet { align-items: flex-end; }
}
